body, h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6b6c6d31;
}

header {
    background-color: #ffffff;
    color: #0e0d0d;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin-top: 10px;
    font-size: 50px;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
}

header h1:hover {
    text-shadow: 0 0 10px rgba(133, 132, 132, 0.8); 
}

header img {
    margin-right: -750px; 
    margin-left: 750px; 
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#informacoes {
    margin: 50px;
}

.nomeCadastrados {
    color: #0CB913;
}

.nomeDoentes {
    color: #B90C0C;
}

.nomeGestante {
    color: #F363FF;
}

.totalAnimal {
    left: 4em;
    position: relative;
    background-color: #fff;
    padding: 40px; 
    margin-bottom: 40px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 105em; 
    cursor: pointer;
    user-select: none;
    transition: box-shadow 0.3s ease;
}

.totalAnimal::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px; 
    height: 100%;
    width: 20px;
    background-color: #0CB913;
    border-radius: 8px 0 0 8px;
}



#total-animais {
    align-self: flex-end;
    font-size: 4em;
    font-weight: bold; 
    margin-right: 4em;
    margin-top: -1em;
    color: #0CB913;
}

.totalDoentes {
    left: 4em;
    position: relative;
    background-color: #fff;
    padding: 40px; 
    margin-bottom: 40px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 105em;
    cursor: pointer;
    user-select: none; 
}

.totalDoentes::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px; 
    height: 100%;
    width: 20px;
    background-color: #B90C0C;
    border-radius: 8px 0 0 8px;
}

#total-doentes {
    align-self: flex-end;
    font-size: 4em;
    font-weight: bold; 
    margin-right: 4em;
    margin-top: -1em;
    color: #B90C0C;
}


.totalGestante  {
    left: 4em;
    position: relative;
    background-color: #fff;
    padding: 40px; 
    margin-bottom: 40px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 105em; 
    cursor: pointer;
    user-select: none;
}

.totalGestante ::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px; 
    height: 100%;
    width: 20px;
    background-color: #F363FF;
    border-radius: 8px 0 0 8px;
}

#total-gestantes {
    align-self: flex-end;
    font-size: 4em;
    font-weight: bold; 
    margin-right: 4em;
    margin-top: -1em;
    color: #F363FF;
}


h2 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.totalAnimal,
.totalDoentes,
.totalGestante {
    transition: border 0.3s ease, background-color 0.3s ease;
}

.totalAnimal:hover,
.totalDoentes:hover,
.totalGestante:hover {
    background-color: #f0f0f0; 
    cursor: pointer;
}

.totalAnimal:active,
.totalDoentes:active,
.totalGestante:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}